[submodule "third_party/libprio"]
	path = third_party/libprio
	url = https://github.com/google/libprio-cc
[submodule "third_party/boringssl"]
	path = third_party/boringssl
	url = https://github.com/google/boringssl
[submodule "third_party/abseil-cpp"]
	path = third_party/abseil-cpp
	url = https://github.com/abseil/abseil-cpp
[submodule "third_party/protobuf"]
	path = third_party/protobuf
	url = https://github.com/protocolbuffers/protobuf
